body {
    font-family: 'Arial', sans-serif;
    background-color: #fff5e1; /* Cream color */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #fff5e1; /* Cream color */
    border-bottom: 1px solid #000; /* Dark for the bottom border */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2400px;
    margin: 0 auto;
    padding: 10px;
}

.brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #110d08;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    display: none; /* Hide the menu icon by default */
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #342618; /* Dark Blue */
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    border-bottom: 2px solid transparent; /* Initial transparent border bottom */
}

.nav-links a:hover {
    border-bottom: 2px solid #d4af37; /* Dark Goldenrod on hover */
}

/* Media Query for Mobile View */
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Hide the links on small screens */
        flex-direction: column; /* Stack the links vertically */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff5e1; /* Cream color */
        z-index: 1;
    }

    .nav-links a {
        border-bottom: 2px solid transparent;
    }

    .nav-links a:hover {
        border-bottom: 2px solid #d4af37;
    }

    .menu-icon {
        display: block; /* Show the menu icon on small screens */
    }
}
