body {
    font-family: 'Arial', sans-serif;
    background-color: white; /* White */
    color: black; /* Dark Blue */
    margin: 0;
    padding: 0;
    width: 2400px;
}

header {
    text-align: center;
    background-color: maroon; /* Dark Blue */
    color: #ffffff; /* White */
    padding: 20px;
}

header h1 {
    margin: 0;
}

header img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

section {
    padding: 20px;
}

section h2 {
    color: #1a1a1a; /* Dark Blue */
}

section h3 {
    color: #1a1a1a; /* Dark Blue */
}

section p {
    color: #1a1a1a; /* Dark Blue */
}

.category {
    background-color: maroon; /* Light Gray */
    padding: 10px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: maroon; /* Dark Maroon */
    color: #ffffff; /* White */
}

footer p {
    margin: 0;
}

/* Add more specific styles for additional sections if needed */
