body {
    font-family: 'Arial', sans-serif;
    background-color: white; /* White */
    color: black; /* Dark Blue */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: maroon; /* Dark Maroon */
    color: #ffffff; /* White */
    padding: 20px;
}

header h1 {
    margin: 0;
}

header img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

section {
    padding: 20px;
}

section h2 {
    color: #1a1a1a; /* Dark Blue */
}

section h3 {
    color: #1a1a1a; /* Dark Blue */
}

section p {
    color: #1a1a1a; /* Dark Blue */
}

.category {
    background-color: white; /* Dark Maroon */
    padding: 10px;
    margin: 10px 0;
}

button {
    color: white; /* Dark Blue */
    background-color: darkblue; /* Dark Maroon */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: maroon; /* Dark Maroon */
    color: #ffffff; /* White */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

@media (max-width: 600px) {
    header img {
        max-width: 100%;
    }
}

/* Add more specific styles for additional sections if needed */
